@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: #171E54;
}

.headingOne {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.headingTwo {
  font-size: 2.5rem;
  margin: 2rem 0rem;
}

.headingThree {
  color: #05AF57;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.5rem;
}

.headingFour {
  font-size: 2rem;
}

.paragraph {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 500;
}

.spanGreenColor {
  color: #05AF57;
}

.button {
  border: none;
  font-size: 1.8rem;
  background: #05AF57;
  padding: 0.7rem 2.5rem;
  border-radius: 2rem;
  color: #FFFFFF;
  margin-top: 2rem;
}

.header {
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 2rem;
  max-width: 130rem;
  margin: 0 auto;
}

.header__imageBox {
  margin-top: 4rem;
  width: 100%;
}

.header__image {
  width: 100%;
}

.aboutUs {
  width: 100vw;
  max-width: 130rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5rem 2rem;
  margin: 0 auto;
}

.aboutUs__textBox {
  margin-bottom: 4rem;
}

.aboutUs__imageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

.aboutUs__imageBox::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 100%;
  top: 5%;
  left: 5%;
  background: #AFC4FE;
  z-index: -1;
  border-radius: 2.5rem;
}

.aboutUs__image {
  width: 90%;
  border-radius: 2rem;
  position: relative;
}

.aboutUs__unorderedList {
  list-style-type: none;
  margin: 2rem 0rem;
}

.aboutUs__listElement {
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.discussionOfTherapy {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding: 5rem 2rem;
  max-width: 130rem;
  margin: 0 auto;
}

.discussionOfTherapy__elementBox {
  position: relative;
  margin: 2rem 0rem;
}

.discussionOfTherapy__numberSpan {
  position: absolute;
  font-size: 12rem;
  color: rgba(5, 175, 87, 0.15);
  bottom: 1rem;
}

.discussionOfTherapy__paragraph {
  font-size: 1.4rem;
  line-height: 2.5rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__textBox {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 3rem;
  }
  .header__button {
    width: 14rem;
  }
  .header__imageBox {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutUs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .aboutUs__button {
    width: 14rem;
  }
  .aboutUs__textBox {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 3rem;
  }
  .aboutUs__imageBox {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aboutUs__imageBox::after {
    height: 50%;
    top: 29%;
    left: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .headingOne {
    font-size: 4rem;
    width: 60rem;
  }
  .headingTwo {
    font-size: 3rem;
    width: 50rem;
  }
  .paragraph {
    font-size: 1.8rem;
  }
  .paragraph--header {
    width: 50rem;
  }
  .aboutUs__image {
    width: 80%;
  }
  .aboutUs__imageBox::after {
    width: 85%;
    height: 80%;
    top: 15%;
    left: 10%;
  }
}
/*# sourceMappingURL=main.css.map */