@media screen and ( min-width: 1200px )
    .headingOne
        font-size: 4rem
        width: 60rem

    .headingTwo
        font-size: 3rem
        width: 50rem

    .paragraph
        font-size: 1.8rem
    
    .paragraph--header
        width: 50rem

    .aboutUs

        &__image
            width: 80%

        &__imageBox
    
            &::after
                width: 85%
                height: 80%
                top: 15%
                left: 10%

    .discussionOfTherapy

        &__elementBox
            width: 30%

        &__paragraph
            font-size: 1.6rem
