@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import "./_colors"
    
*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: 'Roboto', sans-serif
    color: $blue

.headingOne
    font-size: 3rem
    margin-bottom: 2rem

.headingThree
    color: $green
    text-transform: uppercase
    letter-spacing: 0.2rem
    margin-bottom: 0.5rem

.spanGreenColor
    color: $green

.button
    border: none
    font-size: 1.8rem
    background: $green
    padding: 0.7rem 2.5rem
    border-radius: 2rem
    color: $white
    margin-top: 2rem

@import "./_small"
@import "./_medium"
@import "./_large"