@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

@import "./_colors"
    
*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: 'Roboto', sans-serif
    color: $blue

@import "./_small"
@import "./_medium"
@import "./_large"